*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

ul {
  -webkit-padding-start: 0;
}

h2 {
  font-size: 30px;
  font-family: 'Cuprum', sans-serif;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

h3 {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

body {
  font-family: 'Cuprum', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
}

.container {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.site-header {
  background-color: #f1f5f7;
}

.toolbar {
  background-color: #293449;
}

.toolbar-logo {
  width: 220px;
  float: left;
  color: white;
  text-transform: uppercase;
  background-color: #ee3643;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 24px;
  font-family: 'Cuprum', sans-serif;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  margin-bottom: -3px;
  cursor: pointer;
}

.toolbar-logo:hover {
  background-color: #ba2732;
}

.search-form {
  width: 270px;
  float: left;
  position: relative;
}

.search-form .search-icon {
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url('../img/spritesheet.png');
  background-repeat: no-repeat;
  background-position: -5px -799px;
  left: 20px;
  top: 12px;
  opacity: 0.3;
  z-index: 2;
}

.search-form label {
  font-size: 17px;
  color: white;
  position: absolute;
  font-family: 'Cuprum', sans-serif;
  left: 50px;
  top: 10px;
}

.search-form:hover .search-icon {
  opacity: 1;
}

.search-form input {
  display: block;
  padding-left: 50px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: none;
  background-color: #293449;
}

.search-form input:focus {
  background-color: white;
}

.search-form input:focus + .search-icon {
  background-position: -5px -826px;
  opacity: 1;
}

.toolbar-bookmarks {
  width: 150px;
  float: left;
  color: white;
  text-decoration: none;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 9px;
  padding-bottom: 9px;
  position: relative;
}

.toolbar-bookmarks::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 16px;
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    background-position: -5px -257px;
    opacity: 0.3;
    left: -5px;
    top: 12px;
}

.toolbar-bookmarks:hover::before {
  opacity: 1;
}

.toolbar-cart {
  width: 150px;
  float: left;
  color: white;
  text-decoration: none;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 9px;
  padding-bottom: 9px;
  position: relative;
}

.toolbar-cart::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 16px;
  background-image: url('../img/spritesheet.png');
  background-repeat: no-repeat;
  background-position: -5px -231px;
  opacity: 0.3;
  left: -10px;
  top: 12px;
}

.toolbar-cart:hover::before {
  opacity: 1;
}

.checkout-btn {
  width: 150px;
  float: right;
  background-color: #63a63e;
  color: white;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 9px;
  padding-bottom: 10px;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
}

.checkout-btn:hover {
  background-color: #5fbb2d;
}

.checkout-btn:active {
  background-color: #518534;
}

.toolbar {
  margin-bottom: 50px;
}

.header-description {
  width: 300px;
  float: left;
  margin-top: 0;
  margin-right: 20px;
  color: #ee3643;
  padding-left: 55px;
  padding-right: 55px;
  font-size: 16px;
  font-style: italic;
}

.header-contacts {
  width: 270px;
  float:left;
  margin-right: 65px;
}

.header-contacts a {
  display: block;
  padding-right: 50px;
  padding-left: 70px;
  padding-top: 8px;
  padding-bottom: 7px;
  border: 3px solid #ffffff;
  color: #e9292a;
  font-size: 21px;
  text-decoration: none;
  position: relative;
}

.header-contacts a::before {
  content: '';
  position: absolute;
  background-image: url('../img/spritesheet.png');
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  background-position: -5px -689px;
  top: 12px;
  left: 15px;
}

.header-contacts span {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #32425c;
}


.user-btn {
  background-color: #ffffff;
  display: inline-block;
  color: #000000;
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 11px;
  font-size: 21px;
}

.user-btn:hover {
  color: #ee3643;
}

.login:hover::after {
  opacity: 1;
}

.header-info .login {
  padding-left: 50px;
  position: relative;
  float: left;
}

.signup {
  float: right;
}

.header-info .login::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 17px;
  background-image: url('../img/spritesheet.png');
  background-repeat: no-repeat;
  background-position: -5px -566px;
  top: 14px;
  left: 20px;
  opacity: 0.3;
}

.header-info .login:hover::after {
  opacity: 1;
}

.user-btn:active {
  color: rgba(0,0,0,0.3);
}

.header-info {
  margin-bottom: 43px;
}

.main-nav {
  margin-bottom: 60px;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #32425c;
}

.main-nav li {
  display: inline-block;
}

.main-nav a {
  display: block;
  padding: 18px 34px;
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.main-nav li:not(:first-child) a {
  margin-left: -4px;
}

.main-nav a:hover {
  background-color: #293449;
}

.main-nav a:active {
  background-color: #293449;;
  color: rgba(255, 255, 255, 0.5);
}

.promotions {
  padding-top: 60px;
  padding-bottom: 50px;
}

.promotions-block {
  width: 300px;
  float: left;
  padding: 25px 22px;
  color: white;
  position: relative;
}

.promotions-block span {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.promotions-block a {
  display: inline-block;
  vertical-align: top;
  color: white;
  text-decoration: none;
  background-color: rgba(0,0,0,0.1);
  padding-top: 4px;
  padding-bottom: 4px;
  text-transform: uppercase;
  width: 135px;
  text-align: center;
}

.promotions-block a:hover {
  background-color: rgba(0,0,0,0.2);
}

.promotions-block a:active {
  background-color: rgba(0,0,0,0.3);
}

.promotions-materials {
  background-color: #f6b22d;
}

.promotions-materials::after {
  content: '';
  position: absolute;
  right: 42px;
  top: 31px;
  width: 44px;
  height: 65px;
  background-position: -5px -1015px;
  background-image: url('../img/spritesheet.png');
  background-repeat: no-repeat;
}

.new::before {
  content: '';
  position: absolute;
  background-image: url('../img/spritesheet.png');
  background-repeat: no-repeat;
  width: 60px;
  height: 59px;
  background-position: -5px -620px;
  right: 0;
  top: 0;
}

.promotions-tools {
  background-color: #4aafde;
  margin-left: 20px;
}

.promotions-tools::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 31px;
  width: 75px;
  height: 61px;
  background-position: -5px -160px;
  background-image: url('../img/spritesheet.png');
  background-repeat: no-repeat;
}

.promotions-machines {
  background-color: #cc79d1;
  margin-left: 20px;
}

.promotions-machines::after {
  content: '';
  position: absolute;
  right: 30px;
  top: 31px;
  width: 78px;
  height: 62px;
  background-position: -5px -943px;
  background-image: url('../img/spritesheet.png');
  background-repeat: no-repeat;
}

.promotions-discounts {
  background-color: #85d179;
  margin-left: 20px;
  margin-top: 20px;
}

.promotions-discounts::after {
  content: '';
  position: absolute;
  right: 40px;
  top: 25px;
  width: 59px;
  height: 72px;
  background-position: -5px -5px;
  background-image: url('../img/spritesheet.png');
  background-repeat: no-repeat;
}

.promotions-delivery {
  background-color: #f6b22d;
  margin-left: 20px;
  margin-top: 20px;
}

.promotions-delivery::after {
  content: '';
  position: absolute;
  right: 30px;
  top: 35px;
  width: 78px;
  height: 63px;
  background-position: -5px -87px;
  background-image: url('../img/spritesheet.png');
  background-repeat: no-repeat;
}

.promotions-slider {
  width: 620px;
  float: left;
  padding: 22px 25px;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 262px;
  position: relative;
}

.promotions-slider ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-slide {
  display: none;
}

.slider-slide .slide-heading {
  font-size: 36px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Cuprum', sans-serif;
  margin: 0;
  line-height: 30px;
}

.slider-slide .slide-text {
  margin: 0;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-top: 5px;
}

.promotions-slider .prev-slide,
.promotions-slider .next-slide {
  position: absolute;
  border: none;
  top: 115px;
  background-color: transparent;
  background-image: url('../img/spritesheet.png');
  background-repeat: no-repeat;
}

.promotions-slider .prev-slide {
  left: 27px;
  width: 22px;
  height: 40px;
  background-position: -5px -516px;
}

.promotions-slider .next-slide {
  right: 27px;
  width: 22px;
  height: 40px;
  background-position: -5px -749px;
}

.slider-controls {
  margin-top: 127px;
}

.promotions-slider .btn {
  display: inline-block;
  background-color: #ee3643;
  color: white;
  text-decoration: none;
  padding: 4px 45px;
  margin-right: 90px;
  text-transform: uppercase;
}

.promotions-slider .btn:hover {
  background-color: #ca2c37;
}

.promotions-slider .btn:active {
  background-color: #ba2732;
}

.slider-controls input[type="radio"]:first-of-type {
  margin-right: 5px;
}

.current-slide {
  display: block;
}

.slide-1 {
  background-image: url('../img/promo-slider-1.jpg');
}

.slide-2 {
  background-image: url('../img/promo-slider-2.jpg');
}

.section-heading {
  background-color: #f7f3ec;
  padding: 24px 25px;
}

.section-heading h2 {
  display: inline-block;
  margin: 0;
}

.section-heading .btn {
  float: right;
  background-color: #ee3643;
  text-decoration: none;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 253px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}

.section-heading .btn:hover {
  background-color: #ca2c37;
}

.section-heading .btn:active {
  background-color: #ba2732;
}

.featured-goods-list {
  font-size: 0;
  margin-bottom: 24px;
  margin-top: 20px;
}

.featured-goods-item {
  width: 220px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  font-size: 1rem;
  border: 1px solid #e5e5e5;
  position: relative;
}

.featured-goods-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.featured-goods-item img {
  width: 220px;
  height: 159px;
}

.featured-goods-item h3 {
  text-align: center;
  padding: 0 30px;
  margin: 0;
}

.featured-goods-item .discounted-price {
  display: block;
  text-decoration: line-through;
  text-align: center;
  color: #999999;
  font-weight: bold;
  margin-top: 5px;
}

.featured-goods-item .btn {
  display: block;
  background-color: #ee3643;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 4px 0;
  width: 118px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-radius: 3px;
  position: relative;
}

.featured-goods-item .btn::before {
  content: '';
  position: absolute;
  background-color: #ee3643;
  transform-origin: 50% 50%;
  transform: rotate(45deg);
  width: 23px;
  height: 22px;
  left: 106px;
  top: 5px;
}

.featured-goods-item:nth-child(4) {
  margin-right: 0;
}

.featured-companies-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 1rem;
  min-height: 125px;
  vertical-align: middle;
  border: 1px solid #e5e5e5;
}

.featured-companies-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.featured-companies-item:nth-child(4n) {
  margin-right: 0;
}

.featured-companies-item:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.featured-companies-item:active img {
  opacity: 0.3;
}

.featured-companies-list {
  font-size: 0;
  list-style: none;
  padding: 0;
  margin-bottom: 90px;
}

.services {
  background-color: #f2f6f8;
  padding-top: 58px;
}

.services h2 {
  color: #000000;
}

.services-slider {
  margin-top: 64px;
}

.services-slider > ul {
  width: 240px;
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 80px;
  list-style: none;
  position: relative;
}

.services-slider ul:first-child::after {
  content: '';
  position: absolute;
  background-image: url('../img/services-shadow.png');
  width: 10px;
  min-height: 272px;
  right: -1px;
  top: 0;
  z-index: 2;
}

.slider-btn:hover {
  background-color: #293449;
}

.slider-btn.active {
  background-color: #ffffff;
  color: #32425c;
}

.services-slider button {
  background-color: #32425c;
  color: white;
  padding: 16px 20px;
  border: none;
  font-size: 21px;
  line-height: 30px;
  font-family: 'Cuprum', sans-serif;
  width: 100%;
  text-align: left;
  box-shadow: inset 0 -1px 0 #293449;
}

.services-slide {
  width: 620px;
  display: none;
  background-repeat: no-repeat;
  min-height: 261px;
}

.services-slide h3 {
  margin: 0;
  text-transform: uppercase;
  color: #32425c;
  font-size: 36px;
  font-family: 'Cuprum', sans-serif;
  margin-bottom: 24px;
  font-weight: normal;
  line-height: 30px
}

.delivery-slide {
  background-image: url('../img/service-slider-1.jpg');
  background-position: 152px 0px;
}

.warrancy-slide {
  background-image: url('../img/service-slider-2.jpg');
  background-position: 232px 0px;
}

.credit-slide {
  background-image: url('../img/service-slider-3.jpg');
  background-position: 155px 0px;
}

.current-services-slide {
  display: block;
}

.credit-slide .btn {
  display: inline-block;
  vertical-align: middle;
  background-color: #ee3643;
  color: white;
  text-decoration: none;
  padding: 5px 44px;
  margin-top: 19px;
  border-radius: 3px;
  text-transform: uppercase;
}

.credit-slide .btn:hover {
  background-color: #ca2c37;
}

.credit-slide .btn:active {
  background-color: #ba2732;;
}

.about {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-us {
  width: 560px;
  float: left;
}

.about-us h2 {
  color: #000000;
}

.about-us p {
  font-family: 'PT Sans', sans-serif;
}

.about-us ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.about-us li {
  font-size: 18px;
  color: #000000;
  line-height: 20px;
  margin-bottom: 12px;
}

.about-us li::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-color: #fb565a;
  width: 25px;
  height: 2px;
  margin-right: 10px;
}

.about-us .btn {
  display: inline-block;
  vertical-align: middle;
  background-color: #ee3643;
  color: white;
  text-decoration: none;
  padding: 5px 40px;
  margin-top: 19px;
  border-radius: 3px;
  text-transform: uppercase;
}

.about-us .btn:hover {
  background-color: #ca2c37;
}

.about-us .btn:active {
  background-color: #ba2732;;
}

.contacts {
  width: 300px;
  float: right;
}

.contacts h2 {
  color: #000000;
}

.contacts p {
  font-family: 'PT Sans', sans-serif;
}

.contacts img {
  display: block;
  margin-bottom: 40px;
}

.contacts .btn {
  display: block;
  background-color: #ee3643;
  color: white;
  text-decoration: none;
  padding: 5px 0;
  margin-top: 19px;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
}

.contacts .btn:hover {
  background-color: #ca2c37;
}

.contacts .btn:active {
  background-color: #ba2732;;
}

.site-footer {
  background-color: #32425c;
}

.footer-logo {
  width: 220px;
  float: left;
  margin-right: 160px;
  color: white;
  text-transform: uppercase;
  background-color: #ee3643;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.footer-logo:hover {
  background-color: #ba2732;
}

.footer-upper-nav {
  width: 550px;
  float: right;
}

.footer-upper-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 42px;
}

.footer-upper-nav li {
  display: inline-block;
  vertical-align: top;
  margin-right: 56px;
}

.footer-upper-nav li:nth-of-type(5n) {
  margin-right: 0;
}

.footer-upper-nav a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.footer-upper-nav a:hover {
  text-decoration: underline;
}

.footer-upper-nav a:active {
  opacity: 0.3;
  text-decoration: none;
}

.footer-contacts {
  width: 380px;
  float: left;
  margin-right: 20px;
  color: white;
  font-size: 18px;
  margin-top: 20px;
}

.footer-lower-nav {
  width: 540px;
  float: right;
  margin-top: 20px;
}

.footer-lower-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-lower-nav li {
  display: inline-block;
  vertical-align: top;
  margin-right: 61px;
}

.footer-lower-nav li:nth-of-type(4n) {
  margin-right: 0;
}

.footer-lower-nav a {
  display: block;
  color: #ffd180;
  text-decoration: none;
  font-size: 18px;
}

.footer-lower-nav a:hover {
  text-decoration: underline;
}

.footer-lower-nav a:active {
  opacity: 0.3;
  text-decoration: none;
}

.contacts-footer {
  background-color: #293449;
  padding-top: 10px;
}

.contacts-copyright {
  width: 300px;
  float: left;
  margin-right: 90px;
  font-size: 16px;
  color: #ffffff;
}

.social-links {
  width: 150px;
  float: left;
  margin-right: 100px;
  list-style: none;
  padding: 0;
}

.social-links li {
  display: inline-block;
  vertical-align: top;
}

.social-links .social-btn {
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  position: relative;
}

.social-btn:hover {
  background-color: #ee3643;
}

.social-btn::after {
  content: '';
  position: absolute;
  background-image: url('../img/spritesheet.png');
  background-repeat: no-repeat;
}

.social-btn-vk::after {
  width: 20px;
  height: 12px;
  top: 15px;
  left: 9px;
  background-position: -5px -921px;
}

.social-btn-fb::after {
  width: 10px;
  height: 18px;
  top: 10px;
  left: 15px;
  background-position: -5px -439px;
}

.social-btn-inst::after {
  width: 17px;
  height: 17px;
  top: 11px;
  left: 12px;
  background-position: -5px -489px;
}

.feedback-link {
  width: 140px;
  float: left;
  margin-right: 20px;
  color: #ffffff;
}

.feedback-link a {
  color: #ffd180;
  text-decoration: none;
}

.authors {
  width: 140px;
  float: right;
  color: #ffffff;
}

.authors a {
  color: #ffd180;
  text-decoration: none;
}

.feedback-link a:hover,
.authors a:hover {
  text-decoration: underline;
}

.feedback-link a:active,
.authors a:active {
  color: #ee3643;
  text-decoration: none;
}

.modal-window {
  display: none;
}

.catalog-filter {
  width: 220px;
  float: left;
  margin-right: 20px;
}

.catalog-items-list {
  width: 700px;
  float: right;
  font-size: 0;
}

.catalog-item {
  width: 220px;
  display: inline-block;
  margin-right: 20px;
  font-size: 1rem;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-nav {
  float: right;
  width: 700px;
}

.about-goods {
  padding-top: 65px;
  padding-bottom: 65px;
}